/* --- Laptop Landscape --- */
@media only screen and (max-width: 1366px) {
  .post__actions-right {
    font-size: 0;
  }
  .post__vertical-item {
    align-items: flex-start;
  }

  .hot-news__post-info {
    flex-direction: column;
    gap: 15px;
  }
  .hot-news__list-link {
    align-items: flex-start;
  }

  .request__user {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .request__actions {
    margin-left: 0;
  }
  .request__list ul li {
    flex-direction: column;
  }

  .trending-news__link {
    align-items: flex-start;
  }

  .comments__comment-wrap {
    padding-right: 0;
  }

  .profile-card__buttons {
    flex-direction: column;
  }
}
/* --- Tablet Landscape --- */
@media only screen and (max-width: 1200px) {
  .columns__wrap-container {
    grid-template: 1fr/clamp(300px, 25vw, 360px) minmax(450px, 820px);
  }
  .columns__wrap-container.two-columns {
    grid-template: 1fr/1fr;
  }
  .columns__wrap-container.template-box {
    flex-direction: column;
  }
  .columns__right {
    display: none;
  }

  .comments__comment-wrap .action-dots {
    opacity: 1;
    top: 0;
    padding: 8px;
  }

  .request__user {
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
  .request__actions {
    margin-left: auto;
  }
  .request__list ul li {
    flex-direction: row;
  }
}
@media only screen and (max-width: 1024px) {
  .radio__volume-slider {
    display: none;
  }
  .radio__playlist {
    justify-content: flex-start;
    padding: 15px 90px 15px 25px;
  }
  .radio__inner, .radio__player {
    margin: 0;
    justify-content: flex-start;
  }
  .radio__info {
    padding-left: 0;
  }
  .radio__share-box {
    margin-left: auto;
    margin-right: 0;
  }
}
/* --- Tablet --- */
@media only screen and (max-width: 991px) {
  .header__inner {
    gap: 30px;
  }
  .header__menu-wrap {
    gap: 30px;
    justify-content: flex-end;
  }
  .header__logo {
    margin-right: 5px;
  }
  .header__search {
    margin-right: 0;
  }
  .header__nav {
    display: none;
  }
  .header__user {
    padding-right: 0;
    margin-right: 0;
  }
  .header__user .user__name {
    display: none;
  }
  .header__user::after {
    display: none;
  }
  .header__actions {
    margin-right: 0;
    gap: 30px;
  }

  .burger {
    display: flex;
  }

  .columns__wrap-container {
    display: flex;
    flex-direction: column;
  }
  .columns__left {
    display: none;
  }
  .columns__left .may-know,
.columns__left .events,
.columns__left .featured-video {
    display: none;
  }
  .columns__left-inner {
    display: flex;
    position: static;
    width: 100%;
  }
  .columns__content {
    width: 100%;
    height: auto;
    margin: 0;
    overflow: hidden;
  }

  .settings__inner {
    display: flex;
    flex-direction: column-reverse;
    gap: 0;
  }
  .settings__menu, .settings__main {
    width: 100%;
  }
  .settings__menu {
    margin-bottom: 20px;
    padding: 15px 10px;
  }
  .settings__menu-list {
    flex-direction: row;
    overflow-x: auto;
    gap: 15px;
  }
  .settings__menu-button {
    padding: 10px 5px;
    white-space: nowrap;
  }
  .settings__menu-button:before {
    width: 0%;
    height: 3px;
    left: 50%;
    bottom: 0;
    top: auto;
    transform: translateX(-50%);
    transition: width 0.2s;
  }
  .settings__menu-button.is-active:before {
    width: 100%;
    height: 3px;
  }
  .settings__item li {
    grid-template: 1fr/1fr;
  }
}
/* --- Mobile Phones L--- */
@media only screen and (max-width: 767px) {
  .entrance__container {
    grid-template: 1fr/1fr;
  }
  .entrance__left {
    border-radius: 6px;
  }
  .entrance__right {
    display: none;
    border-radius: 0 0 6px 6px;
  }

  .header__logo {
    display: none;
  }
  .header__logo--mobile {
    display: block;
  }
  .header__search {
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--header-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
  }
  .header__search form {
    width: 90%;
  }
  .header__search.is-active {
    opacity: 1;
    z-index: 99;
    pointer-events: all;
  }
  .header__search--mobile {
    display: block;
    position: relative;
    z-index: 100;
  }
  .header__menu-wrap {
    transition: all 0.3s;
  }
  .header__user-avatar {
    width: 30px;
    height: 30px;
  }

  .contacts-form__bottom {
    grid-template: 1fr 1fr/1fr 1fr;
  }

  .post__actions-right, .post__actions-buttons {
    flex-wrap: wrap;
    gap: 20px;
  }

  .comments__replies .comments__avatar {
    width: 25px;
    height: 25px;
  }
  .comments__replies-item {
    padding-left: 30px;
  }
  .comments__replies-item::after {
    width: 7px;
    top: 13px;
  }
  .comments__replies-item::before {
    top: -49986px;
  }
  .comments__item.second-line-comment .comments__comment-wrap.is-commented::before {
    left: 12px;
    top: 27px;
  }
  .comments__item.third-line-comment::before {
    left: 12px;
  }
  .comments__item.third-line-comment::after {
    width: 16px;
    left: 12px;
  }
  .comments__comment-wrap {
    gap: 10px;
  }
}
/* --- Mobile Phones M--- */
@media only screen and (max-width: 575px) {
  .header__notifications-popup {
    right: -142px;
  }
  .header__notifications-popup::after {
    right: 142px;
  }

  .card--horizontal {
    flex-direction: column;
    align-items: flex-start;
  }
  .card--horizontal .card__img {
    width: 100%;
    max-height: 200px;
  }
  .card--horizontal .card__img img {
    width: 100%;
  }

  .radio__info {
    align-items: flex-start;
  }
  .radio__pause {
    margin: 0 25px 0 20px;
  }

  .template-box {
    flex-direction: column;
  }

  .header__inner {
    gap: 20px;
  }
  .header__language-wrap {
    display: none !important;
  }
  .header__menu-wrap {
    gap: 20px;
  }

  .contacts-form__top {
    grid-template: 1fr 1fr/1fr;
  }
  .contacts-form__bottom {
    grid-template: 1fr 1fr 1fr/1fr;
  }

  .main__actions-tab {
    padding: 20px;
  }
  .main__actions-tab span {
    display: none;
  }

  .post__vertical-item {
    flex-direction: column;
  }
  .post__vertical-file {
    width: 100%;
  }
  .post__vertical-file img {
    width: 100%;
  }
  .post__actions-comment {
    display: none;
  }
  .post__actions-top {
    font-size: 13px;
  }
  .post__actions-buttons {
    font-size: 13px;
  }
  .post__ratings-dislikes span:nth-child(2), .post__ratings-likes span:nth-child(2) {
    display: none;
  }

  .hot-news__list-link {
    flex-direction: column;
  }
  .hot-news__image {
    max-width: none;
  }
  .hot-news__image img {
    width: 100%;
  }

  .comments__content-top {
    flex-direction: column;
    align-items: flex-start;
  }

  .friends-box__top {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    gap: 30px;
  }
  .friends-box__action-dots {
    position: absolute;
    top: 0;
    right: 0;
  }
  .friends-box__filter {
    margin-left: 0;
    width: 100%;
  }
  .friends-box__list {
    grid-template: auto/1fr;
  }

  .request__user {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .request__actions {
    margin-left: 0;
  }
  .request__list ul li {
    flex-direction: column;
  }

  .settings-box__form-inner {
    grid-template: auto/1fr;
    gap: 20px;
  }
}
/* --- Mobile Phones S--- */
@media only screen and (max-width: 400px) {
  .columns__wrap-container {
    padding: 0 10px;
  }

  .post__header {
    position: relative;
  }
  .post__header .time-box__count-dotted {
    padding-left: 0;
  }
  .post__header .time-box__count-dotted::before {
    display: none;
  }
  .post__header .user__name {
    flex-direction: column;
    gap: 0;
  }
}