/* --- Laptop Landscape --- */
@media only screen and (max-width: 1366px) {
  .post__actions-bottom {
    flex-direction: column;
  }
  .post__actions-right, .post__actions-buttons {
    justify-content: space-between;
  }
  .post__vertical-item {
    align-items: flex-start;
  }

  .hot-news__post-info {
    flex-direction: column;
    gap: 15px;
  }
  .hot-news__list-link {
    align-items: flex-start;
  }

  .request__user {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .request__actions {
    margin-left: 0;
  }
  .request__list ul li {
    flex-direction: column;
  }

  .trending-news__link {
    align-items: flex-start;
  }

  .comments__comment-wrap {
    padding-right: 0;
  }
}
/* --- Tablet Landscape --- */
@media only screen and (max-width: 1200px) {
  .columns__wrap-container {
    grid-template: auto/1fr 1fr;
  }
  .columns__wrap-container.two-columns {
    grid-template: 1fr/1fr;
  }
  .columns__wrap-container.template-box {
    flex-direction: column;
  }
  .columns__left {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .columns__right {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .columns__main {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .columns__left-inner, .columns__right-inner {
    position: static;
    width: 100%;
  }
  .columns__content {
    height: 450px;
  }

  .comments__comment-wrap .action-dots {
    opacity: 1;
    top: 0;
    padding: 8px;
  }

  .request__user {
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
  .request__actions {
    margin-left: auto;
  }
  .request__list ul li {
    flex-direction: row;
  }
}
@media only screen and (max-width: 1024px) {
  .header__logo {
    margin-right: 5px;
  }
  .header__menu-wrap {
    display: none;
  }

  .burger {
    display: flex;
  }
}
/* --- Tablet --- */
/* --- Mobile Phones L--- */
@media only screen and (max-width: 767px) {
  .contacts-form__bottom {
    grid-template: 1fr 1fr/1fr 1fr;
  }

  .columns__wrap-container {
    display: flex;
    flex-direction: column;
  }
  .columns__left {
    order: 1;
  }
  .columns__right {
    order: 2;
  }
  .columns__main {
    order: 3;
  }
  .columns__content {
    height: 450px;
    margin-right: 0;
  }

  .post__actions-right, .post__actions-buttons {
    flex-wrap: wrap;
    gap: 20px;
  }

  .comments__replies .comments__avatar {
    width: 25px;
    height: 25px;
  }
  .comments__replies-item {
    padding-left: 30px;
  }
  .comments__replies-item::after {
    width: 7px;
    top: 13px;
  }
  .comments__replies-item::before {
    top: -49986px;
  }
  .comments__item.second-line-comment .comments__comment-wrap.is-commented::before {
    left: 12px;
    top: 27px;
  }
  .comments__item.third-line-comment::before {
    left: 12px;
  }
  .comments__item.third-line-comment::after {
    width: 15px;
    left: 12px;
  }
  .comments__comment-wrap {
    gap: 10px;
  }
}
/* --- Mobile Phones M--- */
@media only screen and (max-width: 575px) {
  .contacts-form__top {
    grid-template: 1fr 1fr/1fr;
  }
  .contacts-form__bottom {
    grid-template: 1fr 1fr 1fr/1fr;
  }

  .main__actions-tab span {
    display: none;
  }

  .post-info {
    flex-direction: column;
    gap: 20px;
  }

  .post__vertical-item {
    flex-direction: column;
  }
  .post__vertical-file {
    width: 100%;
  }
  .post__vertical-file img {
    width: 100%;
  }

  .hot-news__list-link {
    flex-direction: column;
  }
  .hot-news__image {
    max-width: none;
  }
  .hot-news__image img {
    width: 100%;
  }

  .comments__content-top {
    flex-direction: column;
    align-items: flex-start;
  }
}
/* --- Mobile Phones S--- */
@media only screen and (max-width: 400px) {
  .columns__wrap-container {
    padding: 0 10px;
  }

  .post__header {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
  }
  .post__header .action-dots--bordered {
    position: absolute;
    top: 0;
    right: 0;
  }
  .post__header .time-box__count-dotted {
    padding-left: 0;
  }
  .post__header .time-box__count-dotted::before {
    display: none;
  }
}